@use 'styles/constants/colors';
@use 'styles/mixins/responsive';

body {
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.container {
  position: relative;
  width: 450px;
  max-width: 700px;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  color: colors.$WHITE;
  background: linear-gradient(to left top, colors.$BGCOLOR, colors.$BGGRADIENTCOLOR);
  border-radius: 20px;
}

.wrapper {
  height: 100%;
  overflow: scroll;
}
