@use '../../styles/constants/colors';

.darkModeContainer {
  position: relative;
  display: inline-block;
}

.checkBox {
  z-index: 1;
  width: 42px;
  height: 26px;
  background-color: colors.$WHITE;
  border-radius: 15px;
  opacity: 0;

  &:checked + .checkBoxLabel {
    &::after {
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 21px;
      content: '';
      background: #000000;
      border-radius: 50%;
      transition: 0.2s;
    }
  }
}

.checkBoxLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 26px;
  cursor: pointer;
  background-color: colors.$GRAYA;
  border-radius: 15px;

  &::after {
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px;
    content: '';
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 20%);
    transition: 0.2s;
  }
}
