@use 'styles/constants/colors';

.bookMarkCardContainer {
  width: 100%;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  background-color: colors.$MOVIECARDBGCOLOR;
  border-radius: 8px;

  &:hover {
    background-color: colors.$GRAYA;
  }

  + .bookMarkCardContainer {
    margin-top: 10px;
  }
}

.bookMarkCardContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.posterContainer {
  width: 35%;
  height: 100%;
}

.poster {
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 15px;
}

.movieTitle {
  margin-right: auto;
  font-size: 30px;
  line-height: 30px;

  strong {
    flex-wrap: wrap;
  }
}

.yearContainer {
  margin-top: 10px;
  margin-right: 20px;
  margin-right: auto;
  font-size: 12px;
}

.imdbContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}

.imdbId {
  height: 100%;
  padding: 3px 5px;
  margin-right: auto;
  margin-left: 5px;
  font-size: 13px;
  background-color: colors.$IMDBCOLOR;
  border-radius: 2px;
}

.type {
  height: 100%;
  padding: 3px 5px;
  font-size: 13px;
  background-color: colors.$TYPECOLOR;
  border-radius: 2px;
}

.isBookMarked {
  color: colors.$YELLOW;
}

.bookMarkIcon {
  margin-left: auto;
  color: colors.$WHITE;

  &:hover {
    color: colors.$RED;
  }
}
